@import url('https://fonts.googleapis.com/css?family=Quicksand|Merriweather');
.query-results {
    height: 450px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Quicksand', sans-serif;
}

.heading-font {
    font-family: 'Merriweather', serif;    
}